body {
    background: #0f172a;
    color: #f1f5f9;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    margin-top: 80px;
}

h1 {
    color: #38bdf8;
}

.upload-box {
    margin-top: 30px;
}

input[type="file"] {
    padding: 10px;
    background: #1e293b;
    border: 1px solid #334155;
    color: white;
    border-radius: 6px;
}

button {
    margin-left: 12px;
    padding: 10px 18px;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #0f172a;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

.result-box {
    margin-top: 30px;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
    display: inline-block;
    width: 50%;
}

.hidden {
    display: none;
}
